
/** CSS reset **/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/** CSS font faces **/
@font-face {
  font-family: 'Fraunces';
  src: url('assets/fonts/fraunces/Fraunces.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/manrope/Manrope.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 100 1000;
}

/** CSS custom properties **/
:root {
  --purple-900: #24053E;
  --purple-500: #584D62;
  --purple-100: #FCF8FF;

  --green: #44ffa1;
  --white: #ffffff;

  --fs-lrg: 1.125rem;
  --fs-xlg: 2rem;
  --fs-2xlg: 3.5rem;
  --fs-3xlg: 5rem;

  --fw-reg: 400;
  --fw-semiBold: 600;
  --fw-bold: 700;

  --space-3700: 18.5em;
  --space-2100: 10.5em;
  --space-1800: 9em;
  --space-1600: 8em;

  --space-1400: 7em;
  --space-1100: 5.5em;
  --space-1000: 5em;
  --space-800: 4em;
  --space-700: 3.5em;
  --space-550: 2.75em;

  --space-500: 2.5em;
  --space-400: 2em;
  --space-350: 1.75em;
  --space-250: 1.25em;
  --space-200: 1em;
  --space-150: 0.75em;
  --space-100: 0.5em;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

body {
  font-family: 'Manrope';
}

.header {
  background-color: var(--purple-900);
  padding: var(--space-400) var(--space-250);
}

.img__illustration {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero__navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar__button {
  font-family: 'Manrope';
  font-size: var(--fs-lrg);
  font-weight: var(--fw-semiBold);
  line-height: 1.5;
  color: var(--white);
  border: none;
  background: none;
  text-decoration: underline var(--green) 0.1875rem;
  text-underline-position: under;
  text-underline-offset: 0.1875rem;
}
